# Dependências (Nunca suba essas pastas!)
node_modules/

# Expo
.expo/
dist/
web-build/

# Variáveis de ambiente
.env

# Arquivos do sistema
.DS_Store
Thumbs.db

# Uploads de teste (não precisa subir as fotos que você testou)
rastrolote-backend/uploads/*
!rastrolote-backend/uploads/.gitkeep